@import "colors";

.set-alarm {
    align-items: center;
    display: flex;
    flex-direction: column;

    .display {
        margin-bottom: 5px;

        span {
            color: white;
            margin-right: 4px;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .set {
        input {
            color: @primary-color;
            height: 30px;
            margin-right: 4px;
            text-align: center;
        }

        &.set-url input {
            width: 320px;
        }

        &.set-time input {
            width: 150px;
        }
    }
}