@import "colors";

.set-alarm {
    align-items: center;
    display: flex;
    flex-direction: column;

    .set {
        input {
            color: @primary-color;
            height: 30px;
            margin-right: 4px;
            text-align: center;
        }

        button {
            background: white;
            color: @primary-color;
            height: 38px;
            width: 54px;
        }
    }
}