@import "./styles/colors";

html, body {
    background: @primary-color;
    height: 98%; //is this cheating?
}

#app {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}